* {
	font-size: $font-size-h4;
}
header, footer {
	height: 100px;
	width: 100%;
	background: rgb(41, 87, 109);
}
footer {
	/* position: fixed; */
	bottom: 0;
	width: 100%;
}
h1 {
	margin-bottom: 70px;
}
.capitalize {
	text-transform: capitalize;
}
.center {
	text-align: center;
}
.container {
	margin: 70px auto;
}
.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	resize: vertical;
	text-align: center;
	margin-bottom: 10px;
	color: white;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	
	.flex-item:first-child {
		margin-left: 0px;
	}
	
	.flex-item:last-child {
		margin-right: 0px;
	}
	
	.flex-item {
		margin: 20px auto;
		overflow: auto;
		background-color: #f08701;
		border: 2px solid #666;
		
		img {
			display: block;
			margin: 5px auto;
			padding: 3px;
		}
		
		.date {
			font-size: 22px;
			padding: 15px 45px;
			border-bottom: 3px solid #fff;
		}
		
		.info {
			padding-bottom: 30px;
			
			div {
				font-size: 16px;
			}
		}
	}	
}

#pagination {
	float: right;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	
	span {
		cursor: pointer;
	}
}
#presets {
	text-align: center;
	
	span {
		font-size: 14px;
		margin-right: 6px;
	}
	
	span:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}